@tailwind preflight;

@tailwind components;

@tailwind utilities;

html, body, #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
}

h2 {
    font-weight: normal;
    margin: 30px auto 0 auto;
}

.board-container {
    display: flex;
    justify-content: center;;
}

.tile {
    cursor: pointer;
    width: 40px;
    height: 40px;
    float: left;
    margin: 1px;
    line-height: 40px;
    @apply .bg-grey-light;
}

.tile.revealed {
    @apply .bg-grey-lightest .text-black;
}

